<link rel="stylesheet" href="/css/product-list.css" type="text/css">
<link rel="stylesheet" href="/css/product-card.css" type="text/css">

<%- include("../../partials/navbar") %>

<div class="products-container">
    <div class="container-head">
        <div class="title">
            <h1>Nos produits en vente</h1>
        </div>
    </div>
    <div class="product-list">
        <% products.forEach(product => { %>
            <div class="product-card">
                <div class="image">
                    <img src="<%= product.image %>" alt="Image du produit">
                </div>

                <div class="data">
                    <div class="name">
                        <p><%= product.name %></p>
                    </div>
                    <div class="price">
                        <p>Prix: <%= product.price %>€</p>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>
