<%- include("../../partials/head") %>

<div class="new-product">
    <form action="/products/new" method="post">
        <div class="title">
            <h1>New product</h1>
        </div>
        <div class="input-group title">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" required>
        </div>
        <div class="input-group image">
            <label for="price">Price</label>
            <input type="number" step="0.01" name="price" id="price" required>
        </div>
        <div class="input-group description">
            <label for="image">Image</label>
            <textarea name="image" id="image" required></textarea>
        </div>
        <div class="buttons">
            <button class="button confirm-button" type="submit">Create</button>
            <a class="button info-button" href="/products">Return to the list</a>
        </div>
    </form>
</div>