<link rel="stylesheet" href="/css/admin.home.css" type="text/css">

<!--<%- include("../../../partials/navbar") %>-->

<h2>Ajouter un nouvel événement</h2>

<div>
    <form method="post" action="/admin/events/new">
        <label for="title">Titre de l'évenement</label>
        <input type="text" id="title" name="title" placeholder="Titre de l'évenement">

        <label for="description">Description</label>
        <input type="text" id="description" name="description" placeholder="Description">

        <label for="location">Lieu</label>
        <input type="text" id="location" name="location" placeholder="Lieu">

        <label for="eventDate">Date de l'évenement</label>
        <input type="date" id="eventDate" name="eventDate" placeholder="Date de l'évenement">

        <label for="price">Prix</label>
        <input type="number" step="0,01" id="price" name="price" placeholder="Prix">

        <label for="image">URL de l'image</label>
        <input type="text" id="image" name="image" placeholder="URL de l'image">

        <button type="submit">Créer</button>
        <a href="/admin/events" >Annuler</a>

    </form>
</div>
