@import "variables";

.contact {
  margin-top: $navbarHeight;
  padding: 40px;
  background-color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;

  h2 {
    color: $titleColor;
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    color: $selectItemColor;
    font-size: 16px;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;

    .flex-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      margin-right: 10px;

      label {
        margin-bottom: 5px;
        color: $selectItemColor;
        font-weight: bold;
        font-size: 14px;
      }

      input,
      textarea {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #ddd;
        border-radius: 3px;
        font-size: 14px;
        margin-top: 5px;
      }

      textarea {
        resize: vertical;
      }
    }

    #submit {
      width: 50%;
      background-color: #111111;
      color: #fff;
      padding: 12px;
      cursor: pointer;
      border: none;
      border-radius: 3px;
      font-size: 16px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
