.menu {
    background-color: #333;
    height: 200px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}

.left-part {
    float: left;
    width: 10%;
    border: 1px solid red;
    height: 100%;
    display: flex;
    align-items: center;
}

.left-part img {
    width: 100%;
}

.center-part {
    float: left;
    width: 80%;
    border: 1px solid blue;
    height: 100%;
    display: flex;
}

.center-part .title h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    margin: 20px 0;
}

.center-part ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: sticky;
        top: 0;
        text-align: center;
}





/*li {*/
/*    display: inline;*/
/*}*/

/*li a {*/
/*    display: inline-block;*/
/*    color: white;*/
/*    text-align: center;*/
/*    padding: 20px 16px;*/
/*    text-decoration: none;*/
/*    transition: background-color 0.3s, color 0.3s;*/
/*}*/

/*li a:hover {*/
/*    background-color: #111;*/
/*}*/

/*.active {*/
/*    color: white;*/
/*    border-bottom: 2px solid #fff;*/
/*}*/

