<%- include("./head") %>
<link rel="stylesheet" href="/css/navbar.css" type="text/css">

<header>
    <div class="menu">
        <div class="left-part">
            <img src="/img/Logo_BDE.png" alt="Logo BDE">
        </div>
        <div class="center-part">
            <div class="title">
                <h1>BDE AERID by Hesias</h1>
            </div>
            <div class="navbar">
                <ul>
                    <li><a class="active" href="/">Accueil</a></li>
                    <li><a href="/products">Produits</a></li>
                    <li><a href="/events">Évènements</a></li>
                </ul>
            </div>
        </div>
        <div class="right-part">
            <div class="login">
                <a href="/login">Connexion</a>
            </div>
        </div>
    </div>
</header>