<header>
    <ul>
        <div class="logo">
            <img src="../../../public/img/Logo_BDE.png" alt="Logo BDE">
        </div>
        <div>
            <h1 class="aeridtitle">BDE AERID by Hesias</h1>
        </div>
        <li><a class="active" href="#home">Accueil</a></li>
        <li><a href="#product">Produits</a></li>
        <li><a href="#events">Events</a></li>
        <li><a href="#events">Contact</a></li>
        <li class="nav-item-fixed-right"><a href="#login">Login</a></li>
    </ul>
</header>