<link rel="stylesheet" href="/css/admin.home.css" type="text/css">

<div class="admin-navbar">
<ul>
    <li><h1>Panneau d'administration</h1></li>
    <li><a href="/admin/events">Evenements</a></li>
    <li><a href="/admin/products">Produits</a></li>
</ul>
</div>