<link rel="stylesheet" href="/css/admin.home.css" type="text/css">

<body>

<ul>
    <li><a class="active" href="/admin">Bienvenue sur la page d'administration</a></li>
    <li><a href="/admin/events">Evenements</a></li>
    <li><a href="/admin/products">Produits</a></li>
</ul>